[submodule "playbooks/roles/geerlingguy.mysql"]
	path = playbooks/roles/geerlingguy.mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "playbooks/roles/geerlingguy.redis"]
	path = playbooks/roles/geerlingguy.redis
	url = https://github.com/geerlingguy/ansible-role-redis.git
[submodule "playbooks/roles/geerlingguy.haproxy"]
	path = playbooks/roles/geerlingguy.haproxy
	url = https://github.com/geerlingguy/ansible-role-haproxy.git
[submodule "playbooks/roles/geerlingguy.php"]
	path = playbooks/roles/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php.git
[submodule "playbooks/roles/geerlingguy.apache"]
	path = playbooks/roles/geerlingguy.apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
[submodule "playbooks/roles/geerlingguy.varnish"]
	path = playbooks/roles/geerlingguy.varnish
	url = https://github.com/geerlingguy/ansible-role-varnish.git
