---
mysql_root_password: lol
mysql_databases:
  - name: ballerz
    encoding: utf8
    collation: utf8mb4_unicode_ci
mysql_users:
  - name: ballerz
    host: "127.0.0.1"
    password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62643232323262653337663032653065376635666236636435376334656133396136333539393564
          3135626230356332383534333536383633643665313261300a656331363539376266333532346161
          30376463363836303535626530616230343135326336613363666164343935336336643036393134
          3437383230613131390a323338323130373439626165343830353764373431613530636533653230
          65386632393265356133353631316666336333623663383939316532643833633834
    priv: "ballerz.*:ALL"
  - name: ballerz
    host: "localhost"
    password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62643232323262653337663032653065376635666236636435376334656133396136333539393564
          3135626230356332383534333536383633643665313261300a656331363539376266333532346161
          30376463363836303535626530616230343135326336613363666164343935336336643036393134
          3437383230613131390a323338323130373439626165343830353764373431613530636533653230
          65386632393265356133353631316666336333623663383939316532643833633834
    priv: "ballerz.*:ALL"
  - name: ballerz
    host: "10.120.%"
    password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62643232323262653337663032653065376635666236636435376334656133396136333539393564
          3135626230356332383534333536383633643665313261300a656331363539376266333532346161
          30376463363836303535626530616230343135326336613363666164343935336336643036393134
          3437383230613131390a323338323130373439626165343830353764373431613530636533653230
          65386632393265356133353631316666336333623663383939316532643833633834
    priv: "ballerz.*:ALL"
